@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
body{

    background-color: orange;
    color:rgb(66,11,11)
}
section {
    padding:20px;
}
h1{
    color:red;
    font-size: 20px;
}